@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "saochingcha";
  src: local("saochingcha"), url("/fonts/SaoChingcha/SaoChingcha-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "saochingcha";
  src: local("saochingcha-bold"), url("/fonts/SaoChingcha/SaoChingcha-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "saochingcha";
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
  src: local("saochingcha-light"), url("/fonts/SaoChingcha/SaoChingcha-Light.ttf");
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer base {
  body {
    @apply font-saochingcha leading-loose bg-bkk-background-white;
  }
}