@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "saochingcha";
  src: local("saochingcha"), url("/fonts/SaoChingcha/SaoChingcha-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "saochingcha";
  src: local("saochingcha-bold"), url("/fonts/SaoChingcha/SaoChingcha-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "saochingcha";
  src: local("saochingcha-light"), url("/fonts/SaoChingcha/SaoChingcha-Light.ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChulaCharasNew';
  src: local('ChulaCharasNew'), url('/fonts/Chula/ChulaCharasNewReg.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChulaCharasNew';
  src: local('ChulaCharasNew Bold'), url('/fonts/Chula/ChulaCharasNewBold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChulaCharasNew';
  src: local('ChulaCharasNew Italic'), url('/fonts/Chula/ChulaCharasNewIta.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ChulaCharasNew';
  src: local('ChulaCharasNew Bold Italic'), url('/fonts/Chula/ChulaCharasNewBoldIta.ttf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    @apply font-saochingcha leading-loose bg-bkk-background-white;
  }
}